*{
    margin:0;
    padding:0;
}

#toggle {
    display: none;
}
label {
    color: cornflowerblue;
}

label {
    font-size: 1.9em;
    position: fixed;
    left: 1.5%;
    top: 3%;
    transition: 0.5s;
    cursor: pointer;
}

ul {
    list-style: none;
    background: #333;
    width: 15%;
    padding-top: 30px;
    position: fixed;
    height: 100%;
    left: -15%;
    transition: 0.5s;
}

li{
    color: rgba(255,255,255,0.7);
    margin: 20px;
    text-transform: capitalize;
    font-family: helvetica;
    text-align: right;
    cursor: pointer;
}
a {
    text-decoration: none;
    color:white;
}

    li:hover {
        color: rgba(255,255,255,1);
    }

#toggle:checked + div ul {
    left: 0;
}

#toggle:checked + div label {
    left: 200px;
}

label:hover {
    color: #8baae1;
}
